include CHANGES.txt
include src/typhoonae/appcfg/index.html
include src/typhoonae/channel/tae-channel-js.js
include src/typhoonae/handlers/dummy.png
include src/typhoonae/mongodb/tests/index.yaml
include src/typhoonae/mysql/tests/index.yaml
include src/typhoonae/tests/sample/app.yaml
include src/typhoonae/tests/sample/cron.yaml
include src/typhoonae/taskqueue/tests/queue.yaml
include version.txt
recursive-include src/typhoonae/blobstore/tests/test *
